.object-cover {
	object-fit: cover;
}

.highlight {
  font-weight: bold;
  border-left: 4rem;
  border-color: black;
  padding-left: 6rem;
  margin-left: -6rem;
	// @apply .font-bold .border-l-4 .border-black .pl-6 .-ml-6;
}

.main-category-selected {
	@apply .border-b-2 .border-black .font-bold .py-4;
}

input[type="checkbox"]:checked {
	background: #0000;
	border: #237829 1px solid;
 }

 .p-reset {
   font-family: 'Lato';
   color: black;
   font-size: 1rem;
   margin: 0 auto;
   line-height: 1.5;
	// @apply .font-lato .text-black .text-base .leading-normal .my-0;
 }

 ul.product-3-details {
	 li {
		&:last-child {
      border-bottom: 1px;
      border-color: #e5e5e5;
		}
	}
 }

 .clearHeader {
   color: white;
   padding-top: 6rem;
   padding-bottom: 6rem;
   border: 0px;
 }

 .darkHeader {
   background: white;
   border-bottom: 1px;
   border-color: #e5e5e5;
   color: black;
   padding: 4rem auto;
	//  @apply bg-white text-black py-4 border-b border-gray-200;
 }

 .product2-active {
   border-bottom: 2px;
   border-color: #4A4A4A;
   color: #4A4A4A;
	// @apply border-b-2 border-gray-600 text-gray-600;
 }

 .slick-dots {
	display: flex;
	justify-content: center;
	
	margin: 0;
	padding: 1rem 0;
	
	list-style-type: none;
	
		li {
			margin: 0 0.25rem;
		}
	
		button {
			display: block;
			width: 0.5rem;
			height: 0.5rem;
			padding: 0;
			
			border: 1px black solid;
			border-radius: 100%;
			background-color: white;
			
			text-indent: -9999px;
		}
	
		li.slick-active button {
			background-color: black;
		}
	
}