html,body {
  font-family: Lato;
  overflow-x: hidden;
  // @apply .font-lato .overflow-x-hidden;
}

a {
  text-decoration: none;
  // @apply .no-underline;
}

p {
  font-family: Lato;
  color: black;
  line-height: 2;
  margin: 1rem 0;
  // @apply .font-lato .text-black .text-lg .leading-loose .my-4;
}

h1 {
  font-family: Unna;
  font-size: 2.5rem;
  // @apply .font-unna .text-6xl;
}

h2 {
  font-family: Montserrat;
  font-size: 1.375rem;
  margin: 1.5rem auto;
  // @apply .font-montserrat .text-2xl .my-6;
}

h3 {
  font-family: Unna;
  font-size: 1.875rem;
//  @apply .font-unna .text-4xl;
}

h4 {
  font-size: 1.125rem;
  // @apply .text-lg;
}

input, textarea {
  border: 1px solid #B8B8B8;
  // @apply .border .border-gray-300;
  
  &:focus{
    outline: none;
      // @apply .outline-none;
  }
}

button, select {
  &:focus{
    outline: none;
      // @apply .outline-none;
  }
}


//large devices max width
@media (max-width: 1199px) {
  
}    

//medium devices max width
@media (max-width: 991px) {
  h1 {
    font-size: 1.875rem;
      // @apply text-4xl;
  }

  h3 {
    font-size: 1.5rem;
      // @apply text-3xl;
  }
}

//small devices max width
@media (max-width: 767px) {
  
}
