<!-- Insert Collections Header -->
{% section 'list-collections' %}


<!-- Products + Sort -->
<div class="container py-14">
    <div class="flex flex-wrap -mx-4">
        {% include 'filter' %}
        {% include 'sidebar' %}
        
        <div class="w-full md:w-2/3 lg:w-3/4 px-4">

            <div id="hits" class="flex flex-wrap -mx-4">
                {% include 'products' %}
            </div>
        </div>
    </div>
</div>