{% section 'contact-us-banner' %}

<!-- Contact Us Content Start -->
<div class="container">
    <div class="flex flex-wrap justify-center">
        <div class="w-full md:w-6/7 lg:w-5/6 py-4 lg:py-10 px-8 lg:px-14 shadow-contact -mt-16 lg:-mt-32 bg-white">
            <div class="flex flex-wrap">
                <div class="w-full mb-2 lg:mb-10">
                    <h1 class="text-center text-4xl lg:text-7xl">Contact Us</h1>
                    <hr class="border-t w-14 border-gray-300 ">
                </div>

                <div class="w-full md:w-1/2 pb-4 md:pb-0">
                    <p class="font-unna text-lg lg:text-3xl leading-normal">We are always ready to cooperate.<br>Write
                        to us and
                        we will contact you.</p>

                    <div class="">
                        <span class="font-montserrat text-sm">EMAIL</span>
                        <p class="text-gray-400 mt-0">hello@diadema.co</p>
                    </div>

                    <div class="">
                        <span class="font-montserrat text-sm">PHONE</span>
                        <p class="text-gray-400 mt-0">319-133-1875</p>
                    </div>

                    <div class="">
                        <span class="font-montserrat text-sm">ADDRESS</span>
                        <p class="text-gray-400 mt-0">
                            25 Boehm Cape Suite 549<br>
                            Alexiston, United States
                        </p>
                    </div>

                    <div class="">
                        <span class="font-montserrat text-sm">SOCIAL</span>

                        <div class="flex flex-wrap mt-3 -mx-2">
                            <!-- FB -->
                            <div class="px-2">
                                <a href="#" class="text-gray-300 hover:text-brown-400">
                                    <svg width="8" height="18" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M7 9H5v9H2V9H0V6h2V4c0-1.47-.292-4 3-4h3v3H6a1.026 1.026 0 0 0-1 1v2h3L7 9z"
                                            fill="currentColor" fill-rule="nonzero" /></svg>
                                </a>
                            </div>

                            <!-- Twitter -->
                            <div class="px-2">
                                <a href="#" class="text-gray-300 hover:text-brown-400">
                                    <svg width="20" height="16" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M17.953 3.98A11.5 11.5 0 0 1 6.289 16 11.793 11.793 0 0 1 0 14.19c.319.03.647.05.978.05a8.344 8.344 0 0 0 5.1-1.73A4.1 4.1 0 0 1 2.243 9.7c.254.052.512.079.771.08.365 0 .729-.047 1.082-.14A4.065 4.065 0 0 1 .803 5.63c.572.31 1.208.481 1.858.5A4.013 4.013 0 0 1 .837 2.77 3.963 3.963 0 0 1 1.391.74a11.734 11.734 0 0 0 8.457 4.22 4.073 4.073 0 0 1 4-4.96 4.139 4.139 0 0 1 2.994 1.27A8.11 8.11 0 0 0 19.45.29a4.065 4.065 0 0 1-1.8 2.24 8.428 8.428 0 0 0 2.356-.64 8.234 8.234 0 0 1-2.053 2.09z"
                                            fill="currentColor" fill-rule="nonzero" /></svg>
                                </a>
                            </div>

                            <!-- Instagram -->
                            <div class="px-2">
                                <a href="#" class="text-gray-300 hover:text-brown-400">
                                    <svg width="21" height="21" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M6 0h9a6 6 0 0 1 6 6v9a6 6 0 0 1-6 6H6a6 6 0 0 1-6-6V6a6 6 0 0 1 6-6zm0 2a4 4 0 0 0-4 4v9a4 4 0 0 0 4 4h9a4 4 0 0 0 4-4V6a4 4 0 0 0-4-4H6zm4.5 3A5.5 5.5 0 1 1 5 10.5 5.7 5.7 0 0 1 10.5 5zm.08 2a3.666 3.666 0 0 0-3.564 3.56 3.419 3.419 0 0 0 3.421 3.42 3.665 3.665 0 0 0 3.565-3.56A3.42 3.42 0 0 0 10.58 7zM16 4a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"
                                            fill="currentColor" fill-rule="nonzero" /></svg>
                                </a>
                            </div>

                            <!-- GPlus -->
                            <div class="px-2">
                                <a href="#" class="text-gray-300 hover:text-brown-400">
                                    <svg width="30" height="19" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M9 8.112v3s3.64-.22 5.06-.22c-.77 2.31-1.97 3.57-4.93 3.57a5.345 5.345 0 1 1 0-10.69 5.234 5.234 0 0 1 3.54 1.31c.75-.74.69-.85 2.6-2.62a9.061 9.061 0 1 0-6.14 15.66c7.53 0 9.48-5.7 8.87-10.01H9zm18 0v-3h-3v3h-3v3h3v2.99l3 .01v-3h3v-3h-3z"
                                            fill="currentColor" fill-rule="nonzero" /></svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="w-full md:w-1/2 pt-4 md:pt-0 border-t md:border-0 border-gray-300">
                    <form method="" action="">
                        <div class="flex flex-col py-2">
                            <span class="font-montserrat text-sm">NAME</span>
                            <input class="my-2 text-base py-2 px-4 font-lato" type="text" name="name">
                        </div>

                        <div class="flex flex-col py-2">
                            <span class="font-montserrat text-sm">EMAIL ADDRESS</span>
                            <input class="my-2 text-base py-2 px-4 font-lato" type="email" name="email">
                        </div>

                        <div class="flex flex-col py-2">
                            <span class="font-montserrat text-sm">MESSAGE</span>
                            <textarea rows="5" class="text-base my-2 py-2 px-4"></textarea>
                        </div>

                        <div class="flex flex-col py-2">
                            <input type="button" name="submit" value="SEND"
                                class="font-montserrat bg-green-400 text-white w-full border-bg-green-400 py-3 hover:bg-white hover:text-green-400 cursor-pointer">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Contact Us Content End -->