<!-- Main Categories -->
{% section 'list-collections' %}
<!-- Main Categories End -->

<!-- Products + Sort -->
<div class="container py-14">
    <div class="flex flex-wrap -mx-4">
        {% include 'filter' %}
        {% include 'sidebar' %}

        <div class="w-full md:w-2/3 lg:w-3/4 px-4">
            {% section 'collection-list' %}
        </div>
    </div>
</div>
<!-- Products + Sort End -->

<!-- Subscribe Now Start -->
{% section 'newsletter' %}
<!-- Subscribe Now End -->