<!-- Main Categories -->
{% section 'list-collections' %}
<!-- Main Categories End -->

<!-- Products + Sort -->
<div class="container py-14">
    <div class="flex flex-wrap -mx-4">
        {% include 'filter' %}
        {% include 'sidebar' %}

        <div class="w-full md:w-2/3 lg:w-3/4 px-4">
        
            {% section 'collection-list' %}
            {% if paginate.pages > 1 %}
                {% include 'pagination' %}
            {% endif %}
            
            <!-- Pagination Start -->
            <div class="py-2 w-full border-t border-b border-green-300">
                <div class="flex flex-wrap justify-between items-center">
                    <div class="">
                        <svg width="26" height="8" xmlns="http://www.w3.org/2000/svg">
                            <path d="M25.98 5.038V3.024H5.01V0L0 4.034l5.013 3.992v-2.98z" fill="#B2B2B2"
                                fill-rule="evenodd" /></svg>
                    </div>
                    <ul class="flex flex-wrap">
                        <li><a class="font-bold font-montserrat text-xs px-2" href="#">1</a></li>
                        <li><a class="text-gray-500 font-montserrat text-xs px-2" href="#">2</a></li>
                        <li><a class="text-gray-500 font-montserrat text-xs px-2" href="#">3</a></li>
                        <li><a class="text-gray-500 font-montserrat text-xs px-2" href="#">...</a></li>
                        <li><a class="text-gray-500 font-montserrat text-xs px-2" href="#">15</a></li>
                    </ul>

                    <div>
                        <svg width="26" height="8" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 2.987v2.015h20.97v3.024l5.01-4.035L20.967 0v2.98z" fill="#B2B2B2"
                                fill-rule="evenodd" /></svg>
                    </div>
                </div>
            </div>
            <!-- End Pagination -->
        </div>
    </div>
</div>
<!-- Products + Sort End -->

<!-- Subscribe Now Start -->
{% section 'newsletter' %}
<!-- Subscribe Now End -->