<section id="blogs">
    <!-- Add the banner slider for the top blogs -->
    {% section 'blog-banners' %}

    <div class="container my-10">
        
        {% section 'blog-list-top' %}
        
        <div class="-my-2 -mx-2 relative">
            <!-- Insert Top News -->
            {% section 'top-news' %}
        </div>
    </div>
</section>