<div class="w-full px-4">
    <div class="flex justify-end font-montserrat text-sm">
        <select class="bg-white tracking-widest">
            <option>SORT BY PRICE</option>
            <option>SORT BY RATINGS</option>
            <option>OTHERS</option>
        </select>
    </div>
</div>