{% if footer %}
    <a href="{{ instagram_url }}" 
        target="_blank"
        class="text-gray-300 hover:text-green-400">
        {% include 'icon-instagram' %}
    </a>
{% else %}
    <a href="#" 
        target="_blank"
        class="text-gray-300 hover:text-green-400">
        {% include 'icon-instagram' %}
    </a>
{% endif %}