<div class="hidden md:block md:w-1/3 lg:w-1/4 px-4">
    <div class="flex flex-col">
        <!-- Category -->
        <div class="flex flex-col">
            <span class="font-unna text-xl py-4">Category</span>

            <div class="my-2">
                <div class="flex flex-wrap items-center justify-between relative">
                    <h5 class="font-lato text-sm">Accessories</h5>
                    <div class="absolute right-0">
                        <svg width="11" height="5" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 0l4.5 4.643L10.003 0" stroke="#000" fill="none" fill-rule="evenodd"
                                stroke-linecap="round" stroke-linejoin="round" /></svg>
                    </div>
                </div>
            </div>

            <div class="my-2">
                <div class="flex flex-wrap items-center justify-between relative">
                    <h5 class="font-lato text-sm">Bags</h5>
                    <div class="absolute right-0">
                        <svg width="11" height="5" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 0l4.5 4.643L10.003 0" stroke="#000" fill="none" fill-rule="evenodd"
                                stroke-linecap="round" stroke-linejoin="round" /></svg>
                    </div>
                </div>
            </div>

            <div class="my-2">
                <div class="flex flex-wrap items-center justify-between relative">
                    <h5 class="font-lato text-sm">Clothes</h5>
                    <div class="absolute right-0">
                        <svg width="11" height="5" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 0l4.5 4.643L10.003 0" stroke="#000" fill="none" fill-rule="evenodd"
                                stroke-linecap="round" stroke-linejoin="round" /></svg>
                    </div>
                </div>

                <div class="w-full block font-lato text-sm py-2">
                    <label class="checkbox-wrapper flex flex-no-wrap text-gray-500 text-sm">
                        Dresses Dresses Dresses Dresses Dresses
                        <input class="mr-2 leading-tight" type="checkbox">
                        <span class="checkbox-checkmark"></span>
                    </label>
                </div>

                <div class="w-full block font-lato text-sm py-2">
                    <label class="checkbox-wrapper flex flex-no-wrap text-gray-500 text-sm">
                        Shirts
                        <input class="mr-2 leading-tight" type="checkbox">
                        <span class="checkbox-checkmark"></span>
                    </label>
                </div>

                <div class="w-full block font-lato text-sm py-2">
                    <label class="checkbox-wrapper flex flex-no-wrap text-gray-500 text-sm">
                        Trousers
                        <input class="mr-2 leading-tight" type="checkbox">
                        <span class="checkbox-checkmark"></span>
                    </label>
                </div>

                <div class="w-full block font-lato text-sm py-2">
                    <label class="checkbox-wrapper flex flex-no-wrap text-gray-500 text-sm">
                        Jeans
                        <input class="mr-2 leading-tight" type="checkbox">
                        <span class="checkbox-checkmark"></span>
                    </label>
                </div>
            </div>

            <div class="my-2">
                <div class="flex flex-wrap items-center justify-between relative">
                    <h5 class="font-lato text-sm">Bags</h5>
                    <div class="absolute right-0">
                        <svg width="11" height="5" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 0l4.5 4.643L10.003 0" stroke="#000" fill="none" fill-rule="evenodd"
                                stroke-linecap="round" stroke-linejoin="round" /></svg>
                    </div>
                </div>
            </div>

            <div class="my-2">
                <div class="flex flex-wrap items-center justify-between relative">
                    <h5 class="font-lato text-sm">Watches</h5>
                    <div class="absolute right-0">
                        <svg width="11" height="5" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 0l4.5 4.643L10.003 0" stroke="#000" fill="none" fill-rule="evenodd"
                                stroke-linecap="round" stroke-linejoin="round" /></svg>
                    </div>
                </div>
            </div>
        </div>
        <!-- Category End -->

        <!-- Brands -->
        <div class="flex flex-col">
            <span class="font-unna text-xl py-4">Brands</span>

            <input type="text" placeholder="Search"
                class="font-late text-sm text-gray-400 py-2 border-0 border-b">
        </div>
        <!-- Brands End -->

        <!-- Price -->
        <div class="flex flex-col">
            <span class="font-unna text-xl py-4">Price</span>
        </div>
        <!-- Price End -->

        <!-- Size -->
        <div class="flex flex-col">
            <span class="font-unna text-xl py-4">Size</span>

            <div class="flex flex-wrap">
                <div class="w-1/2 block font-lato text-sm py-2">
                    <label class="checkbox-wrapper flex flex-wrap items-center text-gray-500 text-sm">
                        XS
                        <input class="mr-2 rounded-none leading-tight" type="checkbox">
                        <span class="checkbox-checkmark"></span>
                    </label>
                </div>

                <div class="w-1/2 block font-lato text-sm py-2">
                    <label class="checkbox-wrapper flex flex-wrap items-center text-gray-500 text-sm">
                        L
                        <input class="mr-2 rounded-none leading-tight" type="checkbox">
                        <span class="checkbox-checkmark"></span>
                    </label>
                </div>

                <div class="w-1/2 block font-lato text-sm py-2">
                    <label class="checkbox-wrapper flex flex-wrap items-center text-gray-500 text-sm">
                        S
                        <input class="mr-2 rounded-none leading-tight" type="checkbox">
                        <span class="checkbox-checkmark"></span>
                    </label>
                </div>

                <div class="w-1/2 block font-lato text-sm py-2">
                    <label class="checkbox-wrapper flex flex-wrap items-center text-gray-500 text-sm">
                        XL
                        <input class="mr-2 rounded-none leading-tight" type="checkbox">
                        <span class="checkbox-checkmark"></span>
                    </label>
                </div>

                <div class="w-1/2 block font-lato text-sm py-2">
                    <label class="checkbox-wrapper flex flex-wrap items-center text-gray-500 text-sm">
                        M
                        <input class="mr-2 rounded-none leading-tight" type="checkbox">
                        <span class="checkbox-checkmark"></span>
                    </label>
                </div>

                <div class="w-1/2 block font-lato text-sm py-2">
                    <label class="checkbox-wrapper flex flex-wrap items-center text-gray-500 text-sm">
                        XXL
                        <input class="mr-2 rounded-none leading-tight" type="checkbox">
                        <span class="checkbox-checkmark"></span>
                    </label>
                </div>
            </div>
        </div>
        <!-- Size End -->

        <button class="font-montserrat text-sm border border-gray-400 text-gray-400 py-2 my-4">RESET FILTER</button>
    </div>

</div>